<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create Event</title>

    <style>
        input,
        textarea {
            box-sizing: border-box;
        }

        input {
            padding: 10px;
            font-size: 16px;

            border: 1px solid black;
            border-radius: 5px;
            outline: none;
        }

        input:focus {
            border-color: #007bff;
        }

        .form-check-box-container>* {
            width: 100%;
        }
    </style>

</head>

<body>

    <div class="main-container">
        <!-- Nav -->
        <div class="nav-container">
            <a href="../views/index.html" class="nav-btn-container">
                <img class="nav-btn-button" src="assets/images/back.png" alt="back-button">
            </a>
            <div class="nav-name-container">
                <div class="nav-name">
                    My Profile
                </div>
            </div>
        </div>

        <div class="content-container">

            <form (submit)="updatePassword()" [formGroup]="changePasswordForm">
                <div class="form-content" style="width: 100% !important;">

                    <label for="event-details" class="event-details">Change Password</label>


                    <label for="event-details" class="event-details">Current Password</label>
                    <input class="custom-text-area-box" formControlName="currentPassword" type="password" />
                    <span *ngIf="submitted && f['currentPassword'].invalid">
                        <small *ngIf="f['currentPassword'].errors?.['required']" style="color: red;">Current password is
                            required</small>
                    </span>

                    <label for="event-details" class="event-details">New Password</label>
                    <input class="custom-text-area-box" type="password" name="password" id="password"
                        formControlName="password">
                    <span *ngIf="submitted && f['password'].invalid">
                        <small *ngIf="f['password'].errors?.['required']" style="color: red;">Password is
                            required</small>
                    </span>
                    <span *ngIf="changePasswordForm.errors?.['passwordMismatch'] && submitted">
                        <small style="color: red;">Passwords and confirm password not match</small>
                    </span>

                    <label for="event-details" class="event-details">Retype New Password</label>
                    <input class="custom-text-area-box" type="password" name="confirmPassword" id="confirmPassword"
                        formControlName="confirmPassword">
                    <span *ngIf="submitted && f['confirmPassword'].invalid">
                        <small *ngIf="f['confirmPassword'].errors?.['required']" style="color: red;">Confirm Password is
                            required</small>
                    </span>

                </div>
                <br>
                <div class="bottom-nav-button-container" style="margin-top: 25px;">
                    <a href="../views/index.html">
                        <div class="buttom-nav-button gray-button">Back</div>
                    </a>
                    <button style="background-color: transparent;border: 0;" type="submit">
                        <div class="buttom-nav-button blue-button">Save</div>
                    </button>
                </div>
            </form>
        </div>

    </div>

</body>

</html>