<div class="header">
    <div class="heading">
        <h2>COMMUNITY SMART ACCESS</h2>
    </div>

</div>

<div class="main">
    <!-- <h2>RESIDENSI IMPIAN INDAH</h2> -->

    <form (submit)="resetPassword()" [formGroup]="loginForm">
        <div class="login-form-container" style="background-color:transparent;">
            <div class="login-form-content">
                <div class="login-header">
                    <p><b>Forgot Password</b></p>
                    <p>Please enter your registered email address for us to send the link to update your password</p>
                </div>

                <input class="custom-input" type="text" formControlName="Username" placeholder="Email Address">


                <div class="bottom-nav-button-container" style="align-self: center;">
                    <a class="button-container-a" [routerLink]="['/login']">
                        <div class="gray-button">
                            Back
                        </div>
                    </a>
                    <button class="button-container" style="background: transparent;border: 0px;">
                        <div class="blue-button" type="submit">
                            Next
                        </div>
                    </button>
                </div>


                <div *ngIf="apiErrorMessage" class="error">
                    <small>{{ apiErrorMessage }}</small>
                </div>
            </div>

        </div>
    </form>
</div>