body {
    padding: 0;
    margin: 0 ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100vw;
    background-color: var(--color-menu-green);
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    color: white;
    font-weight: 900;
}

.main {
    display: flex;
    flex-direction: column;

}
.main h2 {
    text-align: center;
}

.login-form-container {
    background-color: #f2f2f2;
    border-radius: 15px;
    height: 370px;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.login-form-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 15px;
    align-items: center;
    height: 250px;
}

.custom-input {
    height: 30px;
    width: 200px;
}

.custom-button {
    background-color: var(--button-color1);
    color: white;
    border: none;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

a   {
    text-decoration: none;
}

.login-form-content p { 
    font-weight: 600;
}