<div class="header">
    <div class="heading">
        <h2>COMMUNITY SMART ACCESS</h2>
    </div>

</div>

<div class="main">
    <!-- <h2>RESIDENSI IMPIAN INDAH</h2> -->

    <form (submit)="login()" [formGroup]="loginForm">
        <div class="login-form-container">
            <div class="login-form-content">
                <div class="login-header">
                    <p>Welcome to CSA Resident Application.</p>
                    <p>Please login to continue</p>
                </div>

                <input class="custom-input" type="text" formControlName="Username" placeholder="Username">
                <input class="custom-input" type="password" formControlName="Password" placeholder="Password">

                <button class="custom-input custom-button" type="submit">
                    Login
                </button>
                <a [routerLink]="['/forgot-password']" style="color: blue;">
                    Forgot Password
                </a>


            </div>
            <!-- <div *ngIf="apiErrorMessage" class="error">
                <small>{{ apiErrorMessage }}</small>
            </div> -->
        </div>
    </form>
</div>